body {
	background-color: #FAF0E6;
	margin: 20px;
}
header {
	font-family: Century Gothic;
	background-color: #FCBB6D;
	height: 2cm;
	text-align: center;
	font-size: 1.25cm;
	border: 2px solid black;
}
nav {
	font-family: Courier New;
	background-color: #D8737F;
	height: 1.0cm;
	font-size: 0.70cm;
	position: relative;
	top: 20px;
	padding: 5px;
	border: 2px solid black;
}
a:link {
	text-decoration: none;
	color: black:
}
a:hover {
	background-color: #FF4500;
	color: white;
}

section {	/*The First Section*/
	position: relative;
	top: 50px;
	float: left;
	padding: 10px;
	background-color: #AB6C82;
	width: 60%;
	border: 2px solid black;
}
h2 {
	font-family: Segoe UI Light;
}
p {
	font-family: Arial;
	text-align: justify;
}

aside {		/*Sources*/
	position: relative;
	top: 50px;
	font-family: Arial;
	background-color: #685D79;
	float: right;
	width: 35%;
	border: 2px solid black;
}
a.vxz:link { /*For the Source part*/
	text-decoration: none;
	color: Black;
}
a.vxz:hover {
	background-color: #663399;
}

#ref {	/*The second section*/
	position: relative;
	top: 3cm;
	padding: 3px;
	background-color: #AB6C82;
	float: right;
	width: 35%;
	height: 26cm;
	border: 2px solid black;
}
#bnm {	/*The pictures at the second section*/
	position: relative;
	width: 8cm;
	height: 5.5cm;
	top: 0.5cm;
	width: 97%;
}
#zxc {
	position: relative;
	width: 8cm;
	height: 5.5cm;
	top: 1cm;
	width: 97%;
}
#fer {
	top: 2cm;
	width: 97%;
	height: 13cm;
}

footer {
	position: relative;
	top: 2cm;
	width: 99%;
	float: left;
	background-color: #47567A;
}
#lip, #pil, #ipl { /*The three divs at the bottom*/
	padding: 10px;
	position: relative;
	top: 0.25cm;
}
#fez, #rup, #gli, #ort { /*The small icons*/
	position: relative;
	width: 33px;
	height: 33px;
}
/*Image Sprites pt.1*/
#asd {
    position: relative;
    display: inline-block;
}
#asd #tre {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
#asd:hover #tre {
	width: 33px;
	height: 33px;
    display: inline;
}
/*Image Sprites pt.2*/
#iop {
    position: relative;
    display: inline-block;
}
#iop #tyu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
#iop:hover #tyu {
	width: 33px;
	height: 33px;
    display: inline;
}
/*Image Sprites pt.3*/
#you {
    position: relative;
    display: inline-block;
}
#you #ljq {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
#you:hover #ljq {
	width: 33px;
	height: 33px;
    display: inline;
}
/*Image Sprites pt.4*/
#wer {
    position: relative;
    display: inline-block;
}
#wer #rty {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
#wer:hover #rty {
	width: 33px;
	height: 33px;
    display: inline;
}